Webservices/Webservice-Assignment-1/Webservices-Assignment-1/WebContent/wsdl/FahrenheitToCelsius.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://temprature.lab.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://temprature.lab.com" xmlns:intf="http://temprature.lab.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://temprature.lab.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="tempratureConverter">
    <complexType>
     <sequence>
      <element name="fahrenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="tempratureConverterResponse">
    <complexType>
     <sequence>
      <element name="tempratureConverterReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="tempratureConverterResponse">

      <wsdl:part element="impl:tempratureConverterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="tempratureConverterRequest">

      <wsdl:part element="impl:tempratureConverter" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FahrenheitToCelsius">

      <wsdl:operation name="tempratureConverter">

         <wsdl:input message="impl:tempratureConverterRequest" name="tempratureConverterRequest">

       </wsdl:input>

         <wsdl:output message="impl:tempratureConverterResponse" name="tempratureConverterResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FahrenheitToCelsiusSoapBinding" type="impl:FahrenheitToCelsius">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="tempratureConverter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="tempratureConverterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="tempratureConverterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FahrenheitToCelsiusService">

      <wsdl:port binding="impl:FahrenheitToCelsiusSoapBinding" name="FahrenheitToCelsius">

         <wsdlsoap:address location="http://localhost:8080/Webservices-Assignment-1/services/FahrenheitToCelsius"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
